{% extends "base.html" %}

{% block app_content %}

<h1 class="display-1">Hi!</h1>

<p class="lead">Welcome to food price predictor. Here, you can view our price prediction models for various events. For example, you can predict the price of food due to a change in climate patterns, government agricultural technology funding, etc.</p>
<p class="lead">Here's a quick guide!
	<ul>
		<li class="lead">Click on the menu above to navigate to different price predictors for different variables.</li>
		<li class="lead">In one page, you will find a visuallization of our linear/multiple regression model for that factor and relevant details (e.g. 5 point summary).</li>
		<li class="lead">You can then input a specific value for that variable to see the specific price at that variable.</li>
	</ul>
</p>{% endblock %}